<h1>Please enter your details!</h1>

<form action='/enter_details' method='post'>
  <label for='name'>Enter Your Name: </label>
  <input name='name' type='text'>
  <input type='submit' value = 'Submit!' class='btn btn-primary'>
</form>